.container {
  font-weight: $font-weight-normal;
  color: $theme-black;
  background: $theme-white;
}

@include breakpoint(xl) {
  .container {
    background: rgba(255, 255, 255, 0.1); // $theme-mask-black;
  }
}
